@charset "UTF-8";

td.con_box{
	background-color:#2C3639;
	height:500px;
}

td.con_text {
	font-size:20px;
	font-family: malgun;
	color:#A27B5C;
	font-weight:bold;
	text-align:right;
}




td.con_text02 {
	font-size:20px;
	font-family: malgun;
	color:#A27B5C;
	font-weight:bold;
	text-align:center;
}

input.input_box01{
	border: 1px solid #A27B5C;
	background-color:#FFFFFF;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color:#A27B5C;
	padding: 5px;
}

input.con_btn01 {
	border:2px solid #FFFFFF;
	background-color:#3F4E4F;
	width: 140px;
	height: 40px;
	font-family: malgun;
	color: #FFFFFF;
	padding: 5px;
}

input.con_btn01:hover {
	border:2px solid #FFFFFF;
	background-color:#400040;
	width: 140px;
	height: 40px;
	font-family: malgun;
	color: #FFFFFF;
	padding: 5px;
	cursor: pointer;
}

textarea.btextarea{
	border: 1px solid #A27B5C;
	background-color:#FFFFFF;
	width: 250px;
	height:150px;
	font-family: Arial;
	font-size: 20px;
	color:#A27B5C;
	padding: 5px;	
}

