@charset "UTF-8";

tr.headerline{
	background-color: #000000;
	height:80px;
}

span.menutext{
	font-size: 20px;
	font-family : Arial;
	color: #DCF2F1;
}

a:link{
	text-decoration: none;
	color:inherit;
}

a:hover{
	text-decoration: underline;
	color: #DCF2F1;
}

a:visited{
	text-decoration:none;
	color:#c0c0c0;
	
}